@charset "utf-8";
/* 全画面 */
#wrapper {
    text-align: center;
    background-color: #EFEFEF;
}

#header {
    display: flow-root;
}

h1 {
    color: #F0C61A;
    text-align: left;
    line-height: 100px;
    padding-left: 60px;
}

h2 {
    text-align: center;
    background-color: #F0C61A;
    color: #FFFF;
    line-height: 70px;
}


/* ショップ一覧 */
.shop-list img {
    width: 300px;
    height: 300px;
}

h1.cocoto-mall {
    text-align: center;
    color: #F0C61A;
}

h2.welcome {
    text-align: center;
    background-color: #F0C61A;
    color: #FFFF;
}

.shop-list-background {
    background-color: #FFFF;
    padding: 10px;
    margin: 20px;
}

.shop-list-position {
    float: left;
    margin-top: 50px;
}

.shop-list {
    padding-left: 25%;
    width: 60%;
    text-align: center;
}

.shop-link-text {
    color: #F25C05;
}



/*ログイン画面*/
.login-title {
    background-color: #F0C61A;
}

.login-error-message {
    color: #FF0000;
    font-weight: bold;
}

.login {
    background-color: #FFFFFF;
    width: 280px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

.login-main {
    text-align: center;
}

.log-id {
    padding-top: 40px;
    margin-bottom: 20px;
}

.back-icon {
    float: right;
    bottom: 16px;
    width: 100px;
    padding-right: 10px;
}

.log-bnt {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    background: #F25C05;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: none;
    box-shadow: 6px 6px 3px #666666;
}



/* ショップトップ画面 */
h1.shop-title {
    position: absolute;
    color: #F0C61A;
    padding: 0 30% 0 60px;
    float: left;
}

#shop-top-header {
    display: flow-root;
    height: 120px;
}

a {
    text-decoration: none;
}

.shop-img {
    width: 200px;
    height: 200px;
}

.shop-information-message {
    position: relative;
    top: 30px;
    text-align: left;
    padding-left: 50%;
}

.view {
    height: 200px;
    width: 200px;
}

.product-box {
    border-radius: 15px;
    margin-bottom: 16px;
   
}

.left-icon {
    float: right;
    position: relative;
    top: -80px;
}

.product-url {
    height: 300px;
    width: 300px;
    float: left;
    margin: auto;
    
}

.product-box-list {
    display: inline-block;
    padding: 20px 20px 50px;
    background-color: #FFFF;
    margin: 20px;
    box-shadow: 2px 2px 10px #666666;
}

.product-list-position {
    width: 70%;
    margin: auto;
}

.product-list-add {
    display: inline-block;
    border-radius: 0.2cm;
    /* text-align: center; */
    cursor: pointer;
    padding: 12px 12px;
    background: #F25C05;
    line-height: 1em;
    transition: .3s;
    margin: 20px;
    box-shadow: 6px 6px 3px #666666;
}
.product-list-add a {
    color: #ffffff;
}
#change_product {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 5px 40px 5px 40px;
    background: #F25C05;
    color: #ffffff;
    transition: .3s;
    border: none;
    margin-left: 10px;
    box-shadow: 6px 6px 3px #666666;
}

.owner-bnt {
    display: inline-flex;
}

.left-icon img{
    float: revert;
    width: 100px;
    height: 76px;
}

.logout-btn {
    float: revert;
    width: 100px;
    height: 76px;
    background-image: url(./images/admin_logout.png);
    background-size: contain;
    border: none;
}

.logout-btn-position {
    display: inline-block;
}

.shop-info {
    display: inline-flex;
}

.owner-info {
    padding-left: 20px;
    text-align: left;
}

.owner-name {
    font-size: X-large;
    color: #F0C61A;
    margin-bottom: 0;
    padding-left: 40px;
}

.owner-list {
    list-style: none;
}

.product-box img {
    width: 300px;
    height: 200px;
}

/* 商品追加画面(商品編集画面と共通) -------------------------------------------------------------------------*/
.headerLine {
    background: #F0C61A;
}
.itemList {
    width: 100%;
    display: flex;
}
.priceAddRightIcon {
    float: right;
    position: relative;
    top: -16px;
}
.priceAddLeftIcon img {
    float: revert;
    width: 100px;
    height: 76px;
}
.upload-product-description input:not(:placeholder-shown) {
    pointer-events: auto;
}
/*左側画像アップロード*/
.upload-product-img {
    padding: 20px;
    width: 60%;
}
.upload-product-img p img {
    background-color: #FFFFFF;
    width: 80%;
    height: 460px;
}
/*「画像をアップロードする」ボタン*/
.upload-product-img label {
    display: inline-block;
    border-radius: 8px;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #F25C05;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 6px 6px 3px #666666;
}
/*右側　商品名、詳細、値段*/
.upload-product-description {
    width: 40%;
    margin: 20px;
}
.productName {
    text-align: left;
    width: 80%;
}
.productName input {
    width: 100%;
    height: 60px;
}
/*詳細*/
.detail {
    width: 80%;
    text-align: left;
}
.detail textarea {
    width: 100%;
}
/*値段*/
.price {
    width: 80%;
    display: flex;
    text-align: left;
    margin-top: 16px;
}
.priceTextArea {
    margin: 0 auto;
    width: 15%;
}
.priceArea {
    width: 85%;
}
.priceArea input {
    width: 100%;
    height: 100%;
}
/*商品を追加するボタン*/
.submitBtnArea {
    padding: 20px 0;
}
.submitBtnArea input {
    display: inline-block;
    border-radius: 8px;
    border: none;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #F25C05;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 6px 6px 3px #666666;
}
/*注意文言*/
.alertText {
    color: #FF0000;
    font-weight: bold;
}
/*--------------------------------------------------------------------------------*/

/*購入完了、商品詳細、商品追加、商品編集画面header共通--------------------------------------*/
/*ショップトップへ戻るボタン*/
.headerCenter {
    display: flex;
    position: relative;
}
.headerCenter h1 {
    width: 60%;
    color: #F0C61A;
    text-align: left;
    line-height: 100px;
    padding-left: 60px;
}
.headerCenter .right-icon {
    width: 40%;
    padding: 0 10px;
    text-align: right;
}
.right-icon img {
    float: revert;
    width: 100px;
    height: 80px;
}
/*--------------------------------------------------------------------------*/

/*購入完了画面（ユーザ）---------------------------------------------------------------*/
.finish {
    background: #ffffff;
    height: 280px;
    width: 460px;
    margin: 0 auto;
}
.finish  p{
    text-align: center;
    font-size: 20px;
    padding: 120px 0; 
}

/*----------------------------------------------------------------------------------*/

/* 商品詳細画面 ----------------------------------------------------------------------*/

/*商品詳細*/
.productDetailList {
    display: flex;
}
/*商品画像*/
.product-details-left {
    margin: 0 20px;
    width: 50%;
}
.product-details-left img {
    width: 360px;
    height: 250px;
    float: right;
}
/*商品の説明*/
.product-details-right {
    margin: 0 20px;
    width: 25%;
}
/*商品タイトル*/
.product-details-right h3 {
    font-size: 20px;
    text-align: left;
    margin: 5px 0 5px 0;
}
.itemDtail {
    display: flex;
    width: 100%;
}
/*購入ボタン*/
.buyButton {
    position: relative;
    width: 50%;
}
.buyButton form {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 16px;
}
#productBuyButton  {
    width: 100%;
    background: #F25C05;
    color: #FFFFFF;
    line-height: 2em;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 6px 3px #666666;
}
.productLabel {
    width: 50%;
    margin: 0 auto;
}
/*商品価格*/
.productPrice {
    margin: 0;
    text-align: right;
    color: #BF2C2C;
}
/*累計販売数*/
.numberOfSale {
    margin-top: 5px;
    text-align: right;
}
.numberOfSale span {
    font-weight: bold;
}
/*商品詳細*/
.productDetail {
    text-align: left;
}
/*コメント*/
.comment-list {
    padding: 20px 0;
}
.comment-details {
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    border-radius: 8%;
    background-color: #F2EEB3;
    box-shadow: 6px 6px 3px #666666;
    border-radius: 15px;
}
.commentArea {
    padding: 5px 30px;
}
.commentBody {
    text-align: left;
}
.commentAreaFoot {
    display: flex;
}
.commentName {
    width: 50%;
    color: #F2B705;
    text-align: left;
}
.commentDate {
    width: 50%;
    text-align: right;
}
/*コメント入力画面*/
.comment-box {
    padding: 20px 0;
}
.comment-box form {
    width: 40%;
    background: #f2b705;
    margin: 0 auto;
    border-radius: 8px;
}
.itemMain {
    padding: 20px 25px;
}
/*コメント入力*/
.itemMain textarea {
    width: 100%;
    height: 90px;
    border-radius: 8px;
}
.itemFoot {
    display: flex;
    margin-top: 10px;
}
/*名前*/
.itemFoot .commentNameArea {
    width: 80%;
    text-align: left;
}
.itemFoot .commentNameArea input {
    border-radius: 3px;
    border: thin solid black;
    width: 90%;
    height: 20px;
}
/*送信ボタン*/
.itemFoot .submitCommentArea {
    width: 20%;
    margin: 0 auto;
}
.itemFoot .submitCommentArea input {
    width: 100%;
    background: #F25C05;
    color: #FFFFFF;
    line-height: 2em;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 6px 3px #666666;
}
/*---------------------------------------------------------------------------------*/